<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.rnkrsoft.opensource.iam.gateway.**.config"/>
    <bean class="com.rnkrsoft.framework.config.spring.DynamicConfigSourceConfigurer">
        <!--主机IP地址或者域名-->
        <property name="host" value="localhost"/>
        <!--主机服务端口-->
        <property name="port" value="8000"/>
        <!--当前项目组织编号-->
        <property name="groupId" value="com.rnkrsoft.opensource.iam.gateway"/>
        <!--当前项目组件编号-->
        <property name="artifactId" value="open-iam-gateway"/>
        <!--当前项目版本号-->
        <property name="version" value="1.0.0"/>
        <!--当前项目所在环境-->
        <property name="env" value="dev" />
        <!--客户端拉取配置的间隔（秒）-->
        <property name="fetchIntervalSeconds" value="60"/>
        <!--连接器类型-->
        <property name="connectorType" value="HTTP"/>
        <!--配置模式，AUTO自动模式，先从本地加载，然后使用服务器的进行覆盖;LOCAL从本地配置文件加载，REMOTE从服务器加载-->
        <property name="runtimeMode" value="LOCAL"/>
        <!--本地配置文件-->
        <property name="locations">
            <array>
                <!--数据库配置-->
                <value>classpath*:config/datasource.properties</value>

            </array>
        </property>
        <!--本地配置文件根目录-->
        <property name="localFileHome" value="."/>
        <!--远程配置缓存根目录-->
        <property name="workHome" value="./cache"/>
    </bean>
</beans>
