<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="open-iam-server"/>

    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry address="${zookeeper.address}"/>
    <dubbo:consumer check="false"/>
    <dubbo:provider  timeout="30000"/>

    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20882" payload="21557050" />

    <dubbo:service ref="iamService" version="1.0.0" interface="com.rnkrsoft.opensource.iam.services.IAMService"/>
    <dubbo:service ref="userServiceImpl" version="1.0.0" interface="com.rnkrsoft.opensource.iam.skeleton4j.interfaces.user.services.UserService"/>
    <dubbo:service ref="applicationServiceImpl" version="1.0.0" interface="com.rnkrsoft.opensource.iam.skeleton4j.interfaces.application.services.ApplicationService"/>
    <dubbo:service ref="productServiceImpl" version="1.0.0" interface="com.rnkrsoft.opensource.iam.skeleton4j.interfaces.product.services.ProductService"/>
    <dubbo:service ref="actionServiceImpl" version="1.0.0" interface="com.rnkrsoft.opensource.iam.skeleton4j.interfaces.action.services.ActionService"/>
    <dubbo:service ref="subActionServiceImpl" version="1.0.0" interface="com.rnkrsoft.opensource.iam.skeleton4j.interfaces.subaction.services.SubActionService"/>
    <dubbo:service ref="authorityServiceImpl" version="1.0.0" interface="com.rnkrsoft.opensource.iam.skeleton4j.interfaces.authority.services.AuthorityService"/>
    <dubbo:service ref="roleServiceImpl" version="1.0.0" interface="com.rnkrsoft.opensource.iam.skeleton4j.interfaces.role.services.RoleService"/>
    <dubbo:service ref="branchServiceImpl" version="1.0.0" interface="com.rnkrsoft.opensource.iam.skeleton4j.interfaces.branch.services.BranchService"/>
    <dubbo:service ref="departmentServiceImpl" version="1.0.0" interface="com.rnkrsoft.opensource.iam.skeleton4j.interfaces.department.services.DepartmentService"/>
    <dubbo:service ref="jobServiceImpl" version="1.0.0" interface="com.rnkrsoft.opensource.iam.skeleton4j.interfaces.job.services.JobService"/>
    <dubbo:service ref="cityServiceImpl" version="1.0.0" interface="com.rnkrsoft.opensource.iam.skeleton4j.interfaces.city.services.CityService"/>
</beans>