<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rnkrsoft.opensource.iam.jdbc.dao.GroupDAO" >
    <resultMap id="BaseResultMap" type="com.rnkrsoft.opensource.iam.jdbc.entity.GroupEntity">
        <!-- 用户组主键 -->
        <id column="GROUP_ID" property="groupId" jdbcType="INTEGER" />
        <!-- 用户组名称 -->
        <result column="GROUP_NAME" property="groupName" jdbcType="VARCHAR" />
        <!-- 用户组状态 0:禁用  1:启用   -->
        <result column="GROUP_STATUS" property="groupStatus" jdbcType="INTEGER" />
        <!-- 创建日期 -->
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
        <!-- 更新日期 -->
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        GROUP_ID, GROUP_NAME, GROUP_STATUS, CREATE_DATE, LAST_UPDATE_DATE
    </sql>
</mapper>