html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-filter: contrast(120%);
          filter: contrast(120%);
  background-color: black;
}

.container {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(1600px at 70% 120%, rgba(33, 39, 80, 1) 10%, #020409 100%);
}

.content {
  width: inherit;
  height: inherit;
}

#universe {
  width: 100%;
  height: 100%;
}

#footerContent {
  font-family: sans-serif;
  font-size: 110%;
  color: rgba(200, 220, 255, .3);
  width: 100%;
  position: fixed;
  bottom: 0px;
  padding: 20px;
  text-align: center;
  z-index: 20;
}

#footer {
  position: absolute;
  bottom: 0px;
  height: 300px;
  width: 100%;
  
}

#scene {
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -800px;
  z-index: 10;
}

/*a {
  text-decoration: none;
  color: rgba(200, 220, 255, 1);
  opacity: .4;
  transition: opacity .4s ease;
}

a:hover {
  opacity: 1;
}*/